<% provide(:titulo, "mi Web") %>
<h1>Bienvenido a mi Web</h1>
<p>Haz login para acceder a contenidos</p>
<%= link_to 'Acerca de', estaticas_acercade_path %>
<%= link_to 'Login', estaticas_login_path %>